* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.hero-bg-container {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 1.25rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.header-logo_img {
    width: 60px;
}

.header-logo_text {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}

header a::after {
    display: block;
    content: '';
    border-bottom: solid 2px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;

}

header a:hover::after {
    transform: scaleX(1);
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
    align-self: flex-end;
    height: 80vh;
    gap: 2.25rem;
}


.hero-titles {
    display: flex;
    flex-direction: column;
}

.hero-title {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2.8px;
    font-size: 4.375rem;
}

.hero-subtitle {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.85rem;
}


.hero-tagline {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
}

.hero_promo {
    display: flex;
    border: 3px solid #FFFFFFFF;
    border-radius: 12px;
    padding: 1.25rem 0.938rem;
    gap: 0.938rem;
}

.hero_promo-img {
    width: 100px;
    height: 100px;
}

.hero_promo-text {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    color: #ffffff;
}

.hero_promo-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #ffffff;
}

.hero_promo-descr {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

/* description */

.description {
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 5rem;
}

.description-text,
.description-img {
    width: 48%;
}

.description-text {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.938rem;
}

.description-img {
    max-width: 100%;
}

/* about-us */

.about-us {
    background: #7D95B5;
    padding: 6.25rem 5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 48%;
}

.advantages {
    display: flex;
    gap: 0.938rem;
    flex-direction: column;
    width: 48%;
}

li {
    list-style: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.938rem;
}

.image-list {
    width: 41px;
}

/* services */

.services {
    padding: 6.25rem 5rem;
    display: flex;
    justify-content: space-between;
}

title {
    width: 48%;
}

.colored {
    color: #7D95B5;
}

.services-list_container {
    display: flex;
    flex-direction: row;
    width: 48%;
    gap: 4.5%;

}

.services-list {
    max-width: 190px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    color: #000000;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
}

.services-list-width {
    max-width: 184px;
}

.services-list-img {
    width: 100px;
}

/* footer */

.footer {
    padding: 1.25rem 1.813rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.footer-btn {
    background-color: transparent;
    border: none;
    animation: phone-btn;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes phone-btn {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(30deg);
    }

}

.footer-btn-img,
.socials img {
    width: 75px;
}

.socials {
    opacity: 0;
    transition: all 0.3s;

}

.footer:hover .socials,
.footer:active .socials {
    opacity: 1;
}

@media (min-width: 1921px) {
    .section {
        width: 70%;
        margin: 0 auto;
    }

    .hero {
        width: 48%;
        margin: 0;
    }
}

@media (max-width: 1080px) {

    .hero {
        align-self: center;
        width: 100%;
        align-items: center;
    }

}

@media (max-width: 1024px) {
    .hero-title {
        font-size: 3.375rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
    }

    .hero_promo-title {
        font-size: 1.3rem;
    }

    .description {
        flex-direction: column;
        padding: 3.25rem 5rem;
        gap: 3.25rem;
    }

    .description-text,
    .description-img {
        width: 100%;
    }

    .about-us {
        flex-direction: column;
        gap: 3.25rem;
        padding: 3.25rem 5rem;
    }

    .title,
    .advantages,
    .services-list_container {
        width: 100%;
    }

    .services {
        flex-direction: column;
        gap: 3.25rem;
        padding: 3.25rem 5rem;
    }
}

@media (max-width: 800px) {
    .hero-bg-container {
        padding: 1.25rem 3rem 0 3rem;
    }

    .header-logo_text {
        font-size: 1.5rem;
    }

    .hero {
        padding: 4.563rem 3.688rem 4.75rem;
    }

    .hero-title {
        font-size: 2.375rem;
    }

    .hero-subtitle {
        font-size: 1.3rem;
    }

    .hero_promo-title {
        font-size: 1.1rem;
    }

    .hero_promo-descr {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .description {
        padding: 2.25rem 2rem;
    }

    .description-text {
        font-size: 0.8rem;
    }

    .about-us {
        padding: 2.25rem 2rem;
    }

    .services {
        padding: 2.25rem 2rem;
    }

    li {
        width: 100%;
    }

    .services-list {
        font-size: 1rem;
    }

    .services-list-img {
        width: 84px;
    }

    .services-list {
        font-size: 1rem;
    }
}

@media (max-width: 599px) {

    .hero-bg-container,
    .hero,
    .description,
    .services {
        padding: 1.25rem;
    }

    .hero-bg-container {
        background-image: url(./images/bg_mob.png);
        background-position: bottom center;
    }

    .header-logo {
        gap: 0.6rem;
    }

    .header-logo_img {
        width: 40px;
    }

    .header-logo_text,
    .hero_promo-descr {
        font-size: 0.8rem;
    }

    .hero-title {
        font-size: 2.25rem;
        letter-spacing: normal;
    }

    .hero-subtitle {
        font-size: 1rem;
        text-align: center;
    }

    .hero-titles {
        align-items: center;
    }

    .hero_promo {
        align-items: center;
    }

    .hero_promo-title {
        font-size: 1.25rem;
    }

    .hero_promo-img {
        width: 70px;
        height: 70px;
    }

    .hero_promo-text {
        gap: 0.5rem;
    }

    .description-text {
        font-size: 1rem;
    }

    .description {
        gap: 1.25rem;
    }

    .description,
    .about-us,
    .services {
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .image-list {
        width: 25px;
    }

    li {
        font-size: 1rem;
        width: 100%;
    }

    .services-list_container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .services-list-img {
        width: 50px;
    }

    .services-list {
        font-size: 1rem;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    .footer-btn-img,
    .socials img {
        width: 55px;
    }

}